body {
  overflow: auto;
}

body.open::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.wrapper {
  background: #F6F7F9;
  height: 100vh;
}

.own-container {
  max-width: 1160px;
  margin: 0 auto;
}

.header {
  //width: 100%;
  background: #FFF;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
  padding: 16px 0;

}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  @media (max-width: 1170px) {
     & {
       margin: 0 10px;
     }
  }

  @media (max-width: 390px) {
    & {
        flex-direction: column;
    }
  }
}

.logo-box {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
}

.logo-description {
  color: #005BFE;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  padding: 0;
  margin-left: 16px;
  min-width: 150px;
  margin-right: 10px;

  @media (max-width: 1170px) {
    & {
      margin: 0 5px 0 10px;
    }
  }

}

.btns-header {
  display: flex;
  align-items: center;
  gap: 16px;
  max-width: 282px;

  flex-wrap: wrap;

  @media (max-width: 1170px) {
    & {
        align-items: end;
      justify-content: end;
    }
  }


  @media (max-width: 390px) {
    & {
      margin-top: 15px;
    }
  }

}


/* --------------content---------------- */


.title-content {
  height: 600px;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  opacity: 0.3;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  text-align: center;
  margin: 0;
}


.content-list-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 56px 0 ;

  gap: 12px;

  @media (max-width: 1170px) {
    & {
      margin: 10px;

    }
  }

  @media (max-width: 576px) {
    & {
      padding: 28px 0 ;
    }
  }

}

.content-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;

  margin: 24px;

  @media (max-width: 576px) {
    & {
      margin: 12px;
    }
  }


}


.content-list-item-title {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 0;
}

.content-list-item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  cursor: pointer;

  height: 70px;
  flex-shrink: 0;

  border-radius: 6px;
  background: #FFF;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);

  padding: 24px;
}

.content-group-list {
  width: 100%;
}

.content-group-list-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}

.content-list-item-header {
  width: 100%;
}


.content-group-list-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 70px;
  flex-shrink: 0;

  background: #FFF;
  padding: 24px;

  position: relative;

  @media (max-width: 576px) {
    & {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      padding: 12px;
    }
  }

}

.content-group-list-item::before{
  content: "";
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 24px;


  @media (max-width: 1200px) {
    margin: 0 10%;
  }

  @media (max-width: 900px) {
    margin: 0 5%;
  }

}


.content-group-list-item:last-child {
  border-radius: 0 0 6px 6px;
}

.content-group-list-item-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;

  flex-wrap: wrap;

  @media (max-width: 576px) {
    & {
      margin-top: 5px;
      gap: 10px;
    }
  }

}

.content-group-list-item-right p {
  margin: 0;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
}

.content-group-list-item h4 {
  margin: 0;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  opacity: 0.5;
}


.change-note {
  cursor: pointer;
    border-radius: 6px;
    border: 1px solid rgb(0, 0, 0, 0.1);
    transition: all 0.5s ease;
    margin-right: 6px;
}

.delete-img {
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid rgb(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}

.delete-img:hover {
  background: rgb(234, 115, 115);
}

.change-note:hover {
  background: rgb(177, 177, 234);
}

.content-group-list-items {
  position: absolute;
  visibility: hidden;
  opacity: 0;

  transition: opacity 0.5s ease;

  .content-group-list-item-right-imgs {
    display: none;
  }
}

.content-group-list-items.open {
    position: relative;
    visibility: visible;
    opacity: 1;

    & .content-group-list-item-right-imgs {
        display: block;
    }
}

.keyboard-arrow-right {
  transition: all 0.5s ease;
}

.keyboard-arrow-right.open {
  transform: rotateX(180deg);
}

.content-list-item-title {
  transition: all 0.5s ease;

  &.open {
    color: #005BFE;
  }

}

/* --------------sidebar-------- */


.sidebar{
  position: fixed;
  top: 0;
  left: 0;

  height: 100vh;
  width: 312px;
  background: #FFF;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transition: all 0.5s ease;

  transform: translate(-100%);

  z-index: 100;

  @media (max-width:500px) {
      & {
        width: 100%;
      }

    .line-bottom-sidebar {
      width: 100%;
    }
  }

}



.sidebar.open {
  transform: translateX(0);
}


.header-sidebar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 24px 22px 24px;
}

.title-sidebar {
  margin: 0;
}

.btn-add-contact {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.btn-add-contact-img {
  margin-top: -2px;
}

.title-sidebar {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
}

.close-sidebar {
  cursor: pointer;
}

.line-bottom-sidebar {
  display: block;
  opacity: 0.1;
  width: 312px;
  height: 1px;
  background: #000;
}

.content-sidebar-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: none;
  visibility: hidden;

  position: absolute;
}

.content-sidebar-form.open {
  visibility:visible;
}

.content-sidebar-form input {
  width: 264px;
  height: 38px;
  flex-shrink: 0;
  border-radius: 6px;
  padding: 12px;
  background: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.5);
}

.form-select {
  color: rgba(0, 0, 0, 0.5) !important;
  cursor: pointer;
  outline: 0;
}

.content-sidebar-form-groups::after {
  position: absolute;
  content: "";
  top: 200px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}


.content-sidebar-groups {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  visibility: hidden;
}

.content-sidebar-groups.open {
  visibility: visible;
}

.content-sidebar-groups__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}


.content-sidebar-groups__item-group {
  display: flex;
  align-items: center;
  justify-content: start;

  padding: 12px;

  width: 214px;
  height: 38px;
  flex-shrink: 0;
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0);
  cursor: default;
}

.content-sidebar-items {
  padding: 24px;
  height: 100vh;
}

.sidebar-groups-items {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.sidebar-new-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    visibility: hidden;

    &.open {
      visibility: visible;
    }
}

.sidebar-new-group-input {
  padding: 12px;
  width: 214px;
  height: 38px;
  flex-shrink: 0;
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.05);
  cursor: default;
  font-size: 16px;
}

.sidebar-footer {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 24px ;
}

.btn-add-sidebar {
  visibility: hidden;
  outline: none;

  margin-right: 16px;

  &:active {
    outline: none !important;
  }

  &.open {
    visibility: visible;
    outline: none;
  }
}

.btn-save-group {
  visibility: hidden;
  &.open{
    visibility: visible;
    z-index: 100;
  }
}

.btn-save-person {
  position: absolute;
  visibility: hidden;
  &.open{
    visibility: visible;
    z-index: 100;
  }
}

//------------------modal----------------------------------//

.modal-window {

    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    opacity: 0;
    visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;

  z-index: 900;

  &.open {
    opacity: 1;
    visibility: visible;
  }

}

.modal-window-content {

  width: 400px;
  height: 300px;

  border-radius: 6px;

  background: #ffffff;

  @media (max-width: 576px) {
    &{
      width: 100%;
      height: 300px;
      margin: 10px;
    }
  }

}

.close-modal {

  display: flex;
  justify-content: end;
  padding: 24px;
}

.close-modal img {
  cursor: pointer;

}

.model-content-form {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 16px;

  outline: none;
}

.sidebar-new-group-input {
  cursor: pointer;
}

.btn-add-contact:focus{
  outline: 0;
}

